h1{
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}
p{
    justify-content:center;
    text-align: center;
}
#head{
    background-color: azure;
    width: 100vw;
    height: 300px;
    padding: 3px;

}